<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.word.mapper.MarkMapper">


    <resultMap id="mmap" type="Mark">
        <id column="mid" property="mid"/>
        <result column="stuId" property="stuId"/>
        <result column="pnum" property="pnum"/>
        <result column="cid" property="cid"/>
        <result column="score" property="score"/>
        <result column="remark" property="remark"/>
        <result column="isFlag" property="isFlag"/>

        <!--        <association property="stuClass" javaType="StuClass">-->
        <!--            <id column="cid" property="cid"/>-->
        <!--            <result column="cname" property="cname"/>-->
        <!--        </association>-->

        <!--        <association property="word" javaType="Word">-->
        <!--            <id column="wordid" property="wordid"/>-->
        <!--            <result column="wordmeaning" property="wordmeaning"/>-->
        <!--            <result column="word" property="word"/>-->
        <!--        </association>-->
    </resultMap>

    <insert id="addMark">
        INSERT INTO mark(stuid,pnum,cid,score,isflag)
        values (#{stuId},#{pnum},#{cid},#{score},0)
    </insert>


    <select id="findMarkList" resultMap="mmap">
        SELECT * FROM mark WHERE stuid=#{stuId} AND cid=#{cid} AND pnum=#{pnum}
    </select>
</mapper>