<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="css/examList.css">
    <link rel="stylesheet" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/ytk_css.css">
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>
</head>
<body onload="findPaperMarkList()">
<input type="hidden" th:value="${session.student.stuid}" id="stuid">
<header id="basic-header">
    <!-- header -->
    <div class="header-content">
        <!--        <div class="img-1"></div>-->
        <!--        <div class="rec"></div>-->
        <div class="text-1" style="margin-left: 50px;">单词默写</div>
        <ul class="header-nav">
            <!-- <li><a href="#">我的评测</a></li>
            <li><a href="#">测试历史</a></li>
            <li><a href="#">错题本</a></li>
            <li><a href="#">收藏本</a></li>
            <li><a href="#">试题广场</a></li> -->
            <input type="hidden" id="nowUrl" value="history/classExam">
            <li seq="0">
                <a href="#"
                   title="我的自测">我的自测</a>
            </li>
            <input type="hidden" id="nowUrl" value="history/classExam">
            <li seq="1">
                <a href="examList" title="统一测试">统一测试</a>
                <span th:if="${session.count > 0}">
                    <span class="layui-badge" style="margin-left: 5px;" th:text="${session.count}"></span>
                </span>
            </li>
            <input type="hidden" id="nowUrl" value="history/classExam">
            <li class="current" seq="2">
                <a href="historyList" title="我的历史">我的历史</a>
            </li>
            <li><a href="#" title="试题广场" target="_blank">试题广场</a></li>
            <li><a href="#" title="课程" target="_blank">课程</a></li>
        </ul>
        <div class="right">
            <a class="user-info" href="javascript:;">账户名： <span th:text="${session.student.stuname}"></span></a>
            <!-- <a class="user-info" id="userName">新建学员7</a> id="faceCollect" title="身份认证采集"  -->
            <div class="esc">
                <a href="loginExit.do" title="">退出</a>
            </div>
        </div>
    </div>
</header>
<section class="main main-content" style="margin-top:80px;">
    <div class="yui3-g wrap">
        <div class="yui3-u-1 whites content pad10 sub3">
            <div class="sec sub-bd">

            </div>
        </div>
    </div>
</section>
<footer id="basicBottom"><p>©2019 单词默写考试网</p></footer>
</body>
<script>
    function findPaperMarkList() {
        $.ajax({
            type: 'post',
            url: 'findPaperMarkList',
            data: { },
            dataType: 'json',
            success: function (data) {
                var h = ""
                for (var i = 0; i < data.length; i++) {
                    var c = data[i];
                    h = h + "<div class=\"sec2\">\n" +
                        "                <div class=\"lf-font\">\n" +
                        "                    <p><a title=\"\">试卷号：" + c.pnum + "</a></p>\n" +
                        "                    <p>(考试时间：<span class=\"examTime\">" + c.startDate + "~" + c.endDate + "</span> )</p>\n" +
                        "                </div>\n" +
                        // "                <a href='writeShow?pnum=" + c.pnum + "&cid=" + c.cid + "&endDate=" + c.endDate + "' class='sec3'>试题分析</a>\n" +
                        "                <a href='findWritesList?pnum=" + c.pnum + "&cid=" + c.cid + "&stuid=" + $("#stuid").val() + "' class='sec3'>试题分析</a>\n" +
                        "            </div>\n";
                }
                // $.each(data, function (a, b) {
                //     h = h + "<option value=" + b.tid + ">" + b.tname + "</option>";
                // })
                $(".sec").html(h);
            },
            error: function () {
                layer.msg("ajax错误！", {icon: 2, time: 1000})
            }
        })
    }
</script>
</html>